body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden {
  visibility: hidden;
}

#game .flipped-card{
  background-color: yellow;
}

.card {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: 10px 10px;
}

#game {
  margin-left: auto;
  margin-right: auto;
}

.card .symbol{
  margin: 0;
  position: relative;
  display: block;
  text-align: center;
  top: 40%;
}

.final {
  margin: 0;
  position: relative;
  display: block;
  text-align: center;
  top: 40%;
}
